@import 'components/breakpoints';
@import 'components/color';
@import 'components/font';

*{
    font-family: "Light";
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

        img {
            width: 70px;
            height: 70px;
        }

        h1{
            display: none;
        }
        
        @include md {
            h1 {
                font-size: 15px;
                width: 50%;
                color: rgb(70, 70, 70);
            }

            border-bottom: 2px $blue1;
            box-shadow: 0 4px 6px -6px $blue0;
        }
}

nav {
    font-size: x-large;
    & ul {
        display: flex;
        padding: 0px 0px;
        margin: 0px;
        justify-content: center;
    }

    & li {
        list-style-type: none;
    }

    & a {
        text-decoration:none;
        color: rgb(70, 70, 70);
    }
     
}

.intro{
    & img{
    width: 90%;
    margin: 0px 0px 0px 20px;
    
    }

    & h2 {
    text-align: center;
    font-size: xx-large;
    letter-spacing: 4px;
    color: rgb(70, 70, 70);
    }

    @include md {
        display: flex;

        & h2 {
            font-size: 5vw;
            text-align: left;
            color: grey;
        }
        & img{
            height: 20vw;
            padding: 5px;
        }
    }
}

.article1{
    background-color: $blue2;
    border-radius: 78% 13% 30% 72% / 37% 23% 76% 61%  ;
    width: 60%;
    height: 200px;
    margin-left: 60px;
    text-align: center;

    & h3{
        margin: 50px 20px 30px 50px;
        padding-top: 60px;
        color: aliceblue;
    }
}

.article2{
    background-color: $blue5;
    border-radius: 44% 56% 29% 71% / 30% 20% 80% 70% ;
    width: 60%;
    height: 200px;
    margin-left: 60px;
    text-align: center;

    & h4 {
        margin: 10px 20px 0px 20px;
        padding-top: 60px;
        color: aliceblue;
    }
    & h5 {
        padding-top: 5px;
        color: aliceblue;
    }
}