@import 'components/breakpoints';
@import 'components/colors';



header{
    display: flex;
    @include xs {
        font-size: x-small;
        img {
            width: 50px;
            height: 50px;
        }
    }
  

    h1 {
        @include xs {
            background-color: $yellow1;
        }
        @include sm {
            background-color: $blue0;
        }
        @include md {
            background-color: $blue1;
        }
        @include lg {
            background-color: $blue2;
        }

    }
}