@font-face {
  src: "../font/Lato-Bold.ttf";
  font-family: "Bold";
  font-weight: 700;
}
@font-face {
  src: "../font/Lato-Black.ttf";
  font-family: "Black";
  font-weight: 700;
}
@font-face {
  src: "../font/Lato-Regular.ttf";
  font-family: "Regular";
  font-weight: 400;
}
@font-face {
  src: "../font/Lato-Light.ttf";
  font-family: "Light";
  font-weight: 400;
}
* {
  font-family: "Light";
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 70px;
  height: 70px;
}
header h1 {
  display: none;
}
@media (min-width: 720px) {
  header {
    border-bottom: 2px #4eb9f8;
    box-shadow: 0 4px 6px -6px #1181c3;
  }
  header h1 {
    font-size: 15px;
    width: 50%;
    color: rgb(70, 70, 70);
  }
}

nav {
  font-size: x-large;
}
nav ul {
  display: flex;
  padding: 0px 0px;
  margin: 0px;
  justify-content: center;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

.intro img {
  width: 90%;
  margin: 0px 0px 0px 20px;
}
.intro h2 {
  text-align: center;
  font-size: xx-large;
  letter-spacing: 4px;
  color: rgb(70, 70, 70);
}
@media (min-width: 720px) {
  .intro {
    display: flex;
  }
  .intro h2 {
    font-size: 5vw;
    text-align: left;
    color: grey;
  }
  .intro img {
    height: 20vw;
    padding: 5px;
  }
}

.article1 {
  background-color: #40a7e5;
  border-radius: 78% 13% 30% 72%/37% 23% 76% 61%;
  width: 60%;
  height: 200px;
  margin-left: 60px;
  text-align: center;
}
.article1 h3 {
  margin: 50px 20px 30px 50px;
  padding-top: 60px;
  color: aliceblue;
}

.article2 {
  background-color: #4c7484;
  border-radius: 44% 56% 29% 71%/30% 20% 80% 70%;
  width: 60%;
  height: 200px;
  margin-left: 60px;
  text-align: center;
}
.article2 h4 {
  margin: 10px 20px 0px 20px;
  padding-top: 60px;
  color: aliceblue;
}
.article2 h5 {
  padding-top: 5px;
  color: aliceblue;
}
