header {
  display: flex;
}
@media (min-width: 0) {
  header {
    font-size: x-small;
  }
  header img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 0) {
  header h1 {
    background-color: #ecc56c;
  }
}
@media (min-width: 480px) {
  header h1 {
    background-color: #1181c3;
  }
}
@media (min-width: 720px) {
  header h1 {
    background-color: #4eb9f8;
  }
}
@media (min-width: 960) {
  header h1 {
    background-color: #40a7e5;
  }
}
