@font-face {
  src: "../font/Lato-Bold.ttf";
  font-family: "Bold";
  font-weight: 700;
}
@font-face {
  src: "../font/Lato-Black.ttf";
  font-family: "Black";
  font-weight: 700;
}
@font-face {
  src: "../font/Lato-Regular.ttf";
  font-family: "Regular";
  font-weight: 400;
}
@font-face {
  src: "../font/Lato-Light.ttf";
  font-family: "Light";
  font-weight: 400;
}
* {
  font-family: "$Regular";
  justify-content: center;
  width: 100%;
  height: auto;
}

header {
  display: flex;
}
@media (min-width: 0) {
  header {
    font-size: 8px;
  }
  header img {
    width: 35px;
    height: 35px;
  }
}
header nav ul {
  flex-flow: row;
  list-style: none;
}
