@font-face {
    src: '../font/Lato-Bold.ttf';
    font-family: "Bold";
    font-weight: 700;
}

@font-face {
    src: '../font/Lato-Black.ttf';
    font-family: "Black";
    font-weight: 700;
}

@font-face {
    src: '../font/Lato-Regular.ttf';
    font-family: "Regular";
    font-weight: 400;
}

@font-face {
    src: '../font/Lato-Light.ttf';
    font-family: "Light";
    font-weight: 400;
}